$darkBLue: #03254c;
$fillColor: #187bcd;
$borderColor:#d0efff;
$fontColor: white;
$usedLifeline: rgb(255, 38, 0);
$usedLifelineHover: red;
$headerHeight:10vh;
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin backgroundWithBorder {
    background-color: $fillColor;
    border: 2px solid $borderColor;
}

@mixin buttonHover {
    &:hover {
        background: linear-gradient(-45deg, #54a5f1, $borderColor, #54a5f1, $fillColor);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@mixin backgroundAnimation($color) {
    background: $color;
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

* {
    margin: 0;
}

#container {
    background-color: $darkBLue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: $headerHeight;
    color: $fontColor;
    @include flexCenter();
}

section {
    @include flexCenter();
    flex-direction: row;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    article {
        height: 100vh - 2*$headerHeight;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#questionBoard {
    @include backgroundWithBorder();
    border-radius: 10px;
    height: 50vh;
    width: 100%;
    @include flexCenter();
    flex-direction: column;
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        height: 85%;
        padding: 0 2rem;
        @include flexCenter();
    }
}

button {
    color: $borderColor;
    border: 2px solid $borderColor;
    background: transparent;
    cursor: pointer;
}

#lifelines {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 15%;
    button {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        // color: $borderColor;
        // border: 2px solid $borderColor;
        // background: transparent;
        font-weight: 600;
        font-size: 1.5rem;
        width: 5rem;
        height: 100%;
        &:hover {
            color: white;
        }
    }
    #tip {
        grid-column: 1/4;
        font-size: 1.2rem;
        @include flexCenter()
    }
}

#reset {
    @include backgroundAnimation(linear-gradient(-45deg, #c9c619, $borderColor, #c9c619, #eeba0e));
    @include flexCenter();
    @include backgroundWithBorder();
    text-decoration: none;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    width: 20%;
    height: 3rem;
    margin-bottom: 10%;
    display: none;
}

#answers {
    padding-top: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 30vh;
    button {
        @include backgroundWithBorder();
        color: black;
        margin-bottom: 1rem;
        width: 48%;
        height: 4rem;
        font-size: 1.2rem;
        border-radius: 10px;
        @include buttonHover();
    }
}

footer {
    height: $headerHeight;
    width: 100vw;
    @include flexCenter();
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5vw;
    height: 75vh;
    width: 30vw;
    margin-bottom: 5vh;
    div {
        @include flexCenter();
        width: 100%;
        height: 3rem;
        background: #8a8484;
        border-radius: 10px;
        font-weight: 600;
    }
}

.current {
    @include backgroundAnimation(linear-gradient(-45deg, #c9c619, $borderColor, #c9c619, #eeba0e));
}

.quaranteed {
    border: 2px solid red;
}

.previous {
    @include backgroundAnimation(linear-gradient(-45deg, #5ce925, $borderColor, #5ce925, #26920b));
}

.correctAnswer {
    @include backgroundAnimation(linear-gradient(-45deg, #5ce925, $borderColor, #5ce925, #26920b));
}

.wrongAnswer {
    @include backgroundAnimation(linear-gradient(-45deg, $usedLifeline, $borderColor, #641f1f, #d40909));
}

:disabled {
    color: $usedLifeline;
    border: 2px solid $usedLifeline;
}